/* 		--- main.css ---
*//* custom fonts @import 

    font-family: 'Audiowide', cursive;

    font-family: 'Megrim', cursive;

    font-family: 'Vibes', cursive;

    font-family: 'Press Start 2P', cursive;

*/
@import url('https://fonts.googleapis.com/css?family=Audiowide|Megrim|Press+Start+2P|Vibes&display=swap');

/* digital type font-face rule */
/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: "Digital-7";
	src: url("./fonts/digital-7.eot"); /* IE9 Compat Modes */
	src: url("./fonts/digital-7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("./fonts/digital-7.otf") format("opentype"), /* Open Type Font */
	  url("./fonts/digital-7.svg") format("svg"), /* Legacy iOS */
	  url("./fonts/digital-7.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("./fonts/digital-7.woff") format("woff"), /* Modern Browsers */
	  url("./fonts/digital-7.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
  }

/*	HTML ELEMENTS	*/
/* include the padding and border in an element's total width and height */
* {
	box-sizing: border-box;
}

/*	ID ELEMENTS		*/
#sequencer {
	background-image: url('../images/brushed-alum.png');
	background-repeat: repeat;
	border: 2px solid #808080;
	border-radius: 3px;
	height: 300px;
}

#sequencer-ctrls {
	width: 300px;
	position: absolute;
	top: 40px;
	left: 100px;
	background-color: #808080;
}

#note-selectors {
	justify-content: center;
	text-align: center;
}

#button-controls {
	padding: 6px 0 0 6px;
	width: 50px;
	text-align: center;
	border: 1px solid #808080;
}

#button-controls img#button-logo {
	padding-left: 0;
	margin: 0;
	text-align: left;
}

#oscillator-one {
	background-image: url('../images/black-thread-light.png');
	background-repeat: repeat;
	border: 2px solid #808080;
	border-radius: 3px;
	height: 300px;
	padding: 10px 0 0 10px;
}

input.note-slider {
	-webkit-appearance: slider-vertical;
	display: inline-block;
	padding: 0 4px 0 4px;
	justify-content: space-around;
	text-align: center;
}

.title-bar {
	display: inline;
}

.oscillator-ctrl {
	display: inline;
}

.bg-stopbtn {
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') -0 -0;
    height: 16px;
    width: 16px;
}

.bg-loopbtn {
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') -16px -0;
}

.bg-onoffbtn {
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') -32px -0;
}

.bg-playbtn {
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') -48px -0;
}

.bg-resetbtn {
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') -64px -0;
}

.bg-wavebtn {
    width: 16px; height: 16px;
    background: url('../images/css_sprites.png') -80px -0;
}

/* ELEMENTS SELECTOR CHAINS */

p.title-bar {
	margin-left: 30px;
	font-size: 1.0rem;
}
h4.title-bar {
	margin-left: 10px;
}

/* lcd retro screen display */
#o1_IO_display {
	float: right;
	position: relative;
	left: 10px;
}

span.lcd-screen {
	float: right;
	border: 1px solid #808080;
	width: 45px;
	height: 20px;
	background-color: #000;
	text-align: center;
	padding: 0 0 7px 0; 
	font-family: 'Digital-7';
	font-size: 14px;
	color: #ff000d;
	font-weight: bold;
}

#o1_Wv_Type.wave-options { 
	margin: 0;
	float: right;
	font-family: "Digital-7";
	background-color: #000;
	color: #ff000d;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 0;
	border: 1px solid #808080; 
}

select.wave-options {
	border-radius: 0;
	height: 47px;
	width: 100px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-family: 'Megrim';
	font-weight: bold;
	font-size: 14px;
}

select {
	border: none;
	text-align: left;
	padding: 0;
	margin: 0;
}
